.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 100vh;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: #9f5f81;
  margin: 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionButton {
  margin: 1rem;
  background-color: #ffba93;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  padding: 12px;
  text-align: center;
}

.noShow {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
